pandas==2.3.3
scikit-learn==1.6.1
streamlit==1.50.0
joblib==1.5.3
numpy==2.0.2
langgraph==0.6.11
langchain==0.3.28
langchain-core==0.3.84
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-chroma==0.2.6
langchain-text-splitters==0.3.11
chromadb==1.5.8
openai==2.32.0
python-dotenv==1.2.1
tiktoken==0.12.0
reportlab==4.4.10
protobuf<5.0.0
